{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}

<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <h3>About</h3>
            <p>Joy of Giving is an online crowdfunding platform that supports the treatment of various poor
                needy patients in India. Since many of them are unable to afford their
                life-saving bills, the power of crowdfunding helps make it happen. Till date, Joy of Giving with the
                help of 10,00,000+ generous donors like you who contributed towards the medical cause
                managed to save the lives of 90,000+ patients. We've raised Rs. 250+ Crore that helped pay
                for the crucial treatment of patients suffering from Cancer, heart-diseases, Thalassemia,
                transplants more.</p><br>
            <p>Our team follows a rigorous and stringent procedure to check the genuineness of every
                campaign, ensuring a trustworthy crowdfunding experience.</p><br>
            <p><strong>Payment process and donors’ data is completely secured and encrypted</strong></p><br>
            <h3>Process</h3>
            <p>1. Patient seeks care</p>
            <p>2. Medical Partner submits Patient’s case to Joy of Giving</p>
            <p>3. Donors fund Patient’s care</p>
            <p>4. Get notified on your Donation Impact</p>
        </div>
    </div>
</div>
{% endblock body %}